.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.error {
  padding: 0px 4px;
  color: red;
  background-color: aliceblue;
  border: 1px solid red;
  border-radius: 50px;
}
