.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  grid-area: header;
  background-color: aquamarine;
}

.header img {
  width: 40px;
  border-radius: 50px;
}

.login {
  float: right;
}
