.about {
  padding: 10px;
  margin-bottom: 20px;
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  color: white;
}

.descr {
  margin: 0;
}
